@import url('https://api.fonts.coollabs.io/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    background-color: #0F172A;
    font-family: 'Encode Sans',sans-serif ;
    color: #fff;
}

header{
    text-align: center;
    text-shadow: 4px 4px black;
    margin-top: 100px;
}

header h1 {
    font-size: 50px;
}

header i {
    padding: 20px;
    justify-content: center;
    font-size: 30px;
}

.langue{
    text-shadow: none;
    justify-content: center;
}

.langue a {
    text-decoration: none underline;
    color: #fff;
}

#langue-top,
#langue-bot {
    color: #fff;
    text-shadow: none;
    transition: 1s color ease-out;
}

#langue-top:hover,
#langue-bot:hover {
    color: tomato;
}

#deco-linkedin {
    color: #fff;
    transition: 1s color ease-out;
}

#deco-linkedin:hover {
    color: #225883;
}

#deco-github {
    color: #fff;
    transition: 1s color ease-out;
}

#deco-github:hover {
    color: #303130;
}

#deco-insta {
    color: #fff;
    transition: 1s color ease-out;
}

#deco-insta:hover {
    color: #c62e9c;
}

section{
    width: 50%;
    height: auto;
    background-color: #1E293B;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

section h1 {
    margin: 20px;
    text-shadow: 2px 2px 2px #090d0c;
}

section p {
    text-align: justify;
}

.container-img-text{
    display: flex;
    margin: 20px;
}

.container-aboutMe img {
    width: 250px;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container-aboutMe p {
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.logo-list{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.logo-list img{
    width: 80px;
    height: auto;
}

#container-skills{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}


#list-right{
    width: 50%;
    list-style: none;
    text-align: right;
}

#list-left{
    width: 50%;
    list-style: none;
    text-align: left;
}

.container-list{
    align-items: stretch;
    gap: 50px;
}

.container-list img{
    width: 150px;
    height: 100%;
    border-radius: 7px;
}

.container-list a{
    text-decoration: underline;
    color: #f7f1e3;
}

.list-formation{
    display: flex;
    flex-direction: column;
}

#container-projects{
    display: flex;
    flex-direction: column;
}

#container-projects a{
    color: #0F172A;
    text-decoration: none;
}

.container-card{
    align-items: stretch;
    background-color: #fefefa;
    padding: 20px;
    border: solid #0F172A 7px;
    border-radius: 15px;
    width: wrap;
    height: 200px;
    gap: 25px;
    box-shadow: #0F172A 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.container-card img{
    object-fit: cover;
    object-position: center;
    width: 200px;
    height: 100%;
    border-radius: 7px;
}


.card-description{
    text-overflow: none;
    white-space: wrap;
}

.card-header{
    display: flex;
    justify-content: space-between;
}

.card-header h5{
    font-style: italic;
}

.card-header-icon{
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-footer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-footer a{
    text-decoration: none;
}

