
@import url('https://api.fonts.coollabs.io/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: blue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0px;
    font-family: 'Roboto Mono';
}

header {
    margin-top: 100px;
    text-align: center;
    color: #fff;
    text-shadow: 4px 4px black;
}

header h1 {
    font-size: 50px;
    margin-bottom: -10px;
}

header i {
    padding: 20px;
    justify-content: center;
    font-size: 30px;
}

footer {
    margin-top: 30px;
    text-align: center;
    color: #fff;
    font-style: italic;
}

#langue {
    text-shadow: none;
    justify-content: center;
}

#langue a {
    text-decoration: none underline;
    color: #fff;
}

#deco_linkedin {
    color: #fff;
    transition: 1s color ease-out;
}

#deco_linkedin:hover {
    color: #225883;
}

#deco_github {
    color: #fff;
    transition: 1s color ease-out;
}

#deco_github:hover {
    color: #303130;
}

#deco_mail {
    color: #fff;
    transition: 1s color ease-out;
}

#deco_mail:hover {
    color: #0f78d4;
}

#deco_insta {
    color: #fff;
    transition: 1s color ease-out;
}

#deco_insta:hover {
    color: #c62e9c;
}

#langue_top,
#langue_bot {
    color: #fff;
    text-shadow: none;
    transition: 1s color ease-out;
}

#langue_top:hover,
#langue_bot:hover {
    color: tomato;
}

.bloc {
    background: linear-gradient(to left, #6a89cc, #373e98);
    background-color: #1B9CFC;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 1000px;
    height: auto;
    margin: 100px auto;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 0.95;
    color: #f7f1e3;
}

.bloc h1 {
    margin: 20px;
    text-shadow: 2px 2px 2px #090d0c;
}

.bloc p {
    text-align: justify;
}

#contenu_about_me {
    margin: 20px;
    display: flex;
}

#contenu_about_me img {
    width: 30%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#contenu_about_me p {
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;

}

#centres_interet{
    display: flex;
    justify-content: space-around;
    
}

#centres_interet img{
    width: 100px;
    height: 100%;
}


#contenu_competences{
    display: flex;
    justify-content: center;
}

#contenu_competences h3{
    text-decoration: underline;
}

#titre_liste{
    text-align: center;
    padding-right: 40px;
}

.liste_competences_c1{
    padding-left: 200px;
}

.liste_competences_c2{
    padding-right: 200px;
}

#contenu_formation {
    display: flex;
    padding: 20px;
}

#contenu_formation a{
    text-decoration: underline;
    color: #f7f1e3;
}

#contenu_formation img,
svg {
    color: #3498db;
    width: 150px;
    height: 100%;
    border-radius: 7px;
}

#contenu_formation p,
h4 {
    padding-left: 30px;
    margin-bottom: -10px;
}

#contenu_experience{
    display: flex;
    padding: 20px;
}

#contenu_experience a{
    text-decoration: underline;
    color: #f7f1e3;
}

#contenu_experience img,
svg {
    color: #3498db;
    width: 150px;
    height: 100%;
    border-radius: 7px;
}

#contenu_experience p,
h4 {
    padding-left: 30px;
    margin-bottom: -10px;
}

.liste {
    display: flex;
    flex-direction: column;
}

.liste ul {
    margin-left: 40px;
}

#box_projet {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#liste_projet {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projet {
    width: 350px;
    margin: 20px;
    padding: 0px;
    border: solid black 0px;
    border-radius: 30px;
    overflow: hidden;

    word-wrap: break-word;
    display: flex;
    height: 250px;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    transition: all 800ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#liste_projet a {
    text-decoration: none;
}

.title {
    height: 20px;
}

.projet:hover {
    transform: scale(1.05);
}

.projet-1 {
    background: linear-gradient(to bottom, transparent, #090d0c), url('images/miniature_pendule.png');
    background-position: center;
    background-size: cover;
}

.projet-2 {
    background: linear-gradient(to bottom, transparent, #090d0c), url('images/huitre1.jpg');
    background-position: center;
    background-size: cover;
}

.projet-3 {
    background: linear-gradient(to bottom, transparent, #090d0c), url('images/drapeau_danemark.jpeg');
    background-position: center;
    background-size: cover;
}

.misctext {
    padding: 10px;
    padding-bottom: 50px;
    color: white;
    margin-bottom: 5%;
}

/* .bloc_mail {
    background: linear-gradient(to left, #6a89cc, #4a69bd);
    background-color: #1B9CFC;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 1000px;
    height: auto;
    margin: 100px auto;
    padding: 10px;
}

.bloc_mail h1 {
    margin: 20px;
} */

#name_mail {
    display: flex;
}

#fname {
    width: 100%;
    margin-right: 3px;
}

#lname {
    width: 100%;
}

form {
    margin: 20px;
}