/*CSS pour les formulaires*/
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
input[type="password"],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #2c3e50;
    border-radius: 8px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input:focus {
    border: 3px solid #3498db;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: aliceblue;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
    transition: 200ms transform ease-out;
}

input[type=submit]:hover {
    background-color: #45a049;
    transform: scale(1.02);
}

.formulaire {
    border-radius: 5px;
    background-color: #2c3e50;
    padding: 20px;
    width: 50%;
    margin: 50px auto;

}

h1 {
    text-align: center;
    color: aliceblue;
}

label {
    color: aliceblue;
    font-style: oblique;
    font-weight: bold;
}

#ville_codepost {
    display: flex;
}

.formulaire a {
    text-decoration: underline;
    color: aliceblue;
    display: block;
    text-align: center;
}

/* Les MediaQueries */
/* MediaQueries pour smartphone actuel*/
@media (max-width: 720px) and (min-width: 376px){
    input[type="submit"],
    select{
        font-size: 15px;
    }
 }
/* MediaQueries pour petit smartphone */
 @media (max-width: 375px) and (min-width: 280px){
    input[type="submit"],
    select{
        font-size: 11px;
    }
    label{
        font-size: 15px;
    }
 }
 /* MediaQueries pour tablette */
 @media (max-width: 1366px) and (min-width: 1024px){
    input[type="submit"],
    select{
        font-size: 30px;
    }
    label{
        font-size: 30px;
    }
 }