@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

html{
    scroll-behavior: smooth;
}
body {
    background: linear-gradient(to bottom, transparent, #3B3B98), url('images/fond.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

#bloc,#bloc_ifnot {
    background: linear-gradient(to left, #6a89cc, #4a69bd);
    background-color: #1B9CFC;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 1000px;
    height: auto;
    margin: 100px auto;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

#bloc h1 {
    margin: 20px;
    color: #2ecc71;
}

#bloc_ifnot h1 {
    margin: 20px;
    color : #e74c3c;
}

#bloc p {
    color: #FFF;
    text-align: center;
}

.message{
    text-align: center;
    overflow: hidden;
    white-space: normal
}

.erreur{
    color: #e74c3c;
    text-decoration: underline;
}