input[type=text]
{
    width: 100%;
    padding: 10px;
    border: 3px solid #fff;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type=email],
textarea {
    width: 100%;
    padding: 10px;
    border: 3px solid #fff;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

input:focus, textarea:focus{
    border: 3px solid tomato;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}