@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

html {
  @apply font-krona scroll-smooth;
}

body {
  @apply bg-dark_blue;
}

#app {
  @apply min-h-full;
}

.page {
  @apply flex flex-col justify-center min-h-screen text-lg;
}

.section {
  @apply text-white flex justify-center items-center;
}

.social-link {
  @apply rounded px-2 py-1 hover:bg-white hover:text-black;
}

.card {
  @apply flex gap-10;
}
