@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

html {
  @apply font-kanit scroll-smooth;
}

#app {
  @apply min-h-full;
}

.page {
  @apply flex flex-col justify-center min-h-screen;
}

.title {
  @apply flex flex-col md:flex-row gap-1 items-center justify-center md:justify-between mb-5 font-krona text-xl  dark:text-white text-dark_blue;
}

.section {
  @apply text-white  m-auto  xl:w-1/2 w-5/6;
}

.social-link {
  @apply rounded px-2 py-1 dark:hover:bg-white hover:bg-light_green dark:hover:text-black hover:text-white;
}

.tools-grid {
  @apply grid grid-cols-2 sm:grid-cols-4;
}

.tool {
  @apply flex gap-2 items-center text-2xl text-dark_blue dark:text-white;
}

.card {
  @apply flex gap-10 flex-col md:flex-row items-center md:items-start;
}

.btn-nav {
  @apply border-2 border-light_green dark:border-dark_green p-2 m-2 rounded;
}

.project {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
