section{
  margin: 50px 0;
}

section h1{
  text-align: center;
  margin: 20px 0;
}

.team-members{
  width: 60%; height: 350px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.team-members .member:nth-child(2n+1){
  margin-top: 40px;
}

.team-members .member:nth-child(2){
  margin-top: 0;
}

.member img{
  width: 200px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	border: solid 2px rgb(255, 229, 82);
}

.member p{
  text-align: center;
}

.member p:nth-child(2){
  font-weight: bold;
  font-size: 1.2em;
}

hr{
  width: 400px;
  margin: auto;
	border: solid 1px rgb(255, 229, 82);
  border-radius: 100%;
}

form{
  width: 300px;
  margin: auto;
}

.form-group{
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.form-group input, .form-group textarea{
  border-radius: 4px;
  border: 1px solid #DDDDDD;
  padding: 0.3rem 1rem;
  box-sizing: border-box;
  font-size: 0.9em;
  outline: none;
  font-family: serif;
  transition: all linear 300ms;
}

.form-group input:focus, .form-group textarea:focus{
  border: 1px solid rgb(255, 229, 82);
}

.form-group input{
  height: 3em;
}

.form-group textarea{
  height: 10em;
  resize: none;
}

.form-submit{
  display: flex;
  justify-content: center;
}

.form-submit button{
  width: 150px;
  height: 2.5em;
  background-color: darkgoldenrod;
  border: none;
  border-radius: 100px;
  font-size: 1em;
  color: #FFFFFF;
  cursor: pointer;
}


