#product-list{
    border-radius: 20px;
    margin: 100px auto 100px;
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
}

#product-list input[type=submit]{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: solid 2px rgb(255, 229, 82);
    background-color: #F8F7FF;
}

#product-list input[type=submit]:focus{
    background-color: rgb(255, 229, 82);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#container-product-list{
    margin: 50px 100px 50px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}


input[type=checkbox]{
    display: none;
}

label{
    border-radius: 10px;
    border: #fff solid 5px;
    outline: 2px solid rgb(255, 229, 82);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    height: fit-content;
    transition: transform 100ms ease-in;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

label img{
    border-radius: 5px;
    width: 150px;
    object-fit: cover;
    height: 150px;
}

:checked + label{
    background-color: rgb(255, 229, 82);
    transform: scale(1.05);
    border: solid 5px rgb(255, 229, 82);
}